/* CSS Index
-----------------------------------
------------------------------------
1. Theme default css
2. Back To Top
3. Button
4. Background Color
5. Header
6. Hero Area
7. Section Headding
8. About Area
9. Skill Area
10. Services Area
11. Counter Area
12. Portfolio Area
13. Clients Reviews Area
14. Blog Area
15. Contact Area
16. Footer Area
----------------------------------
----------------------------------*/
/* 1. Theme default css */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@400;500;600;700;800;900&family=Mulish:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #191919;
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  font-style: normal;
}
a,
button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
*::-moz-selection {
  background: #f73434;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #f73434;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #f73434;
  color: #fff;
  text-shadow: none;
}
*::-moz-placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}
*::placeholder {
  color: #555555;
  font-size: 14px;
  opacity: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fraunces", serif;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  transition: 0.4s;
  -webkit-transition: all 0.4s ease-in-out;
  color: #191919;
}
a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
p {
  color: #191919;
}
/*
* 2. Back To Top
*/
.scroll-area {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  display: none;
}
.scroll-area i {
  width: 40px;
  height: 40px;
  background-color: #f73859;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}
/*
* 3. Button
*/
.button {
  display: inline-block;
  padding: 10px 24px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  background: #ff5400;
  color: #fff;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  z-index: 1;
}
.button:hover {
  color: #fff;
}
.button::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  width: 3%;
  height: 100%;
  background: #000;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.button2:after {
  background: #9acd32;
}
.button:hover::after {
  width: 100%;
}
/*
* 4. Background Color
*/
.section-bg {
  background: #f9f9f9;
}
.section-headding.text-white p {
  color: #fff;
}
/*
* 5. Header
*/
.header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  -webkit-animation: sticky 1s;
  -moz-animation: sticky 1s;
  -o-animation: sticky 1s;
  animation: sticky 1s;
  -webkit-box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
  -moz-box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
  box-shadow: 2px 4px 8px rgba(51, 51, 51, 0.25);
  background-color: #fff;
}
@-webkit-keyframes sticky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
@keyframes sticky {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}
.logo {
  display: flex;
  align-items: center;
  height: 100%;
}
.logo h2 {
  font-size: 40px;
  font-weight: 700;
}
.logo h2 a {
  color: #191919;
}
.header-btn {
  float: right;
  display: flex;
  align-items: center;
  height: 100%;
}
.mobile-menu {
  display: none;
}
.menu {
  float: right;
  margin-right: 30px;
}
.menu ul li {
  margin: 0;
  padding: 0;
  float: left;
}
.menu ul li a {
  padding: 23px 20px;
  display: list-item;
  color: #000;
  font-weight: 500;
}
.menu ul li a.current {
  background: #9acd32;
  color: #fff;
}
.menu ul li a:hover {
  background: #9acd32;
  color: #fff;
}
/*
* 6. Hero Area
*/
.hero-area {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  z-index: 1;
}
.hero-area:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.hero-caption {
  padding-top: 200px;
  padding-bottom: 150px;
}
.hero-caption h4 {
  color: #ec4a71;
  font-size: 30px;
  font-weight: 700;
}
.hero-caption h2 {
  font-size: 55px;
  font-weight: 900;
  color: #fff;
  margin: 20px 0px;
}
.hero-caption h2 b {
  font-size: 55px;
}
.hero-caption h2 b.headline2 {
  color: #ec4a71;
}
.cd-headline.clip span {
  padding: 0px;
}
.hero-caption p {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 12px;
  display: inline-block;
}
/*
* 7. Section Headding
*/
.section-headding h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}
.section-headding h2 span {
  color: #ec4a71;
}
.section-headding p {
  font-size: 20px;
}
/*
* 8. About Area
*/
.about-img {
  padding: 35px;
  position: relative;
  width: 100%;
}
.about-img::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 300px 250px 0 0;
  border-color: #ec4a70 transparent transparent transparent;
  top: 0;
  left: 0;
  z-index: -1;
}
.about-img::before {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 300px 250px;
  border-color: transparent transparent #ec4a70 transparent;
  z-index: -1;
  bottom: 0px;
  right: 0px;
}
.about-img img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.about-img:hover img {
  opacity: 0.9;
}
.about-info {
  padding-left: 20px;
}
.about-info h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ec4a71;
}
.about-info h2 {
  font-size: 35px;
  font-weight: 700;
  margin: 10px 0px;
}
.about-info p {
  font-size: 18px;
  margin-bottom: 10px;
}
.about-social {
  margin-top: 30px;
  margin-bottom: 10px;
}
.about-social span {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  display: block;
}
.about-social ul li {
  display: inline-block;
  margin-right: 20px;
}
.about-social ul li:last-child {
  margin: 0px;
}
.about-social ul li a {
  display: inline-block;
}
.about-social ul li a i {
  width: 44px;
  height: 44px;
  background: #2b2344;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.about-social ul li a i:hover {
  background: #ff5400;
}
.about-btn a:first-child {
  margin-right: 20px;
}
/*
* 9. Skill Area
*/
.skill-single h2.title {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
}
.skill-single h2.title::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70px;
  height: 3px;
  background: #444;
}
.resume-item {
  padding: 10px;
  border: 2px solid #c6c3c3;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.resume-item:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.resume-item-top {
  width: 100%;
  overflow: hidden;
  border-bottom: 2px solid #c6c3c3;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.resume-item-top .resume-date {
  width: auto;
  float: left;
  overflow: hidden;
  font-weight: 600;
  color: #333;
}
.resume-item-top .resume-icon {
  overflow: hidden;
  float: right;
}
.resume-item-top .resume-icon i {
  color: #333;
}
.resume-item-bottom h4 {
  font-size: 18px;
  font-weight: 600;
  color: #ec4a71;
  text-transform: uppercase;
}
.resume-item-bottom h5 {
  font-weight: 600;
  font-size: 18px;
  margin: 10px 0px;
}
.resume-item-bottom p {
  line-height: 1.7;
}
.resume-skill-single {
  margin-bottom: 35px;
}
.resume-skill-single:last-child {
  margin: 0px;
}
.resume-skill-single span {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  display: block;
}
.resume-skill-single .progress {
  background-color: #0e7aa4;
  border-radius: 0px;
  height: 20px;
}
.resume-skill-single .progress .progress-bar {
  font-size: 16px;
  font-weight: 700;
  background-color: #ffb400;
}
/*
* 10. Services Area
*/
.services-single {
  background: #e3e3e3;
  padding: 30px 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  border-top-right-radius: 77px;
}
.services-single:hover {
  transform: translateY(-10px);
  background: #5bffa3d6;
  color: #fff;
}
.services-sercle {
  width: 90px;
  height: 90px;
  border: 3px dotted #f21e4e;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.services-single:hover .services-sercle {
  background: rgba(242, 30, 78, 0.1);
  border: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.services-sercle h3 {
  font-size: 35px;
  font-weight: 900;
  color: #f21e4e;
}
.services-text h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
/*
* 11. Counter Area
*/
.counter-area {
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.counter-area::after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.counter-icon {
  color: #fff;
  font-size: 35px;
  margin-bottom: 10px;
}
.counter-text {
  color: #fff;
}
.counter-text h2 {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 5px;
}
.counter-text span {
  font-size: 14px;
}
/*
* 12. Portfolio Area
*/
.row.portfolio-all {
  margin-left: 0px;
  margin-right: 0px;
}
.portfolio-list ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 4px 10px;
  border: 2px solid #9acd32;
  margin: 0px 2px;
  color: #9acd32;
}
.portfolio-list ul li.mixitup-control-active {
  color: #fff;
  background: #9acd32;
}
.portfolio-item {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.portfolio-all .col-lg-3.col-md-6 {
  padding: 0px;
}
.portfolio-item img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.portfolio-item:hover img {
  transform: scale(1.1);
}
.portfolio-overly {
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-align: center;
  background: rgb(255, 180, 0, 0.9);
}
.portfolio-item:hover .portfolio-overly {
  width: 100%;
  left: 0;
  right: auto;
}
.portfolio-overly-full a {
  font-size: 20px;
  padding: 13px;
  background: #fff;
  display: inline-block;
  line-height: 1;
  margin-bottom: 10px;
  color: #000;
}
.portfolio-overly-full a:hover {
  background: #000;
  color: #fff;
}
.portfolio-overly-full h2 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.portfolio-overly-full p {
  font-size: 14px;
}
/*
* 13. Clients Reviews Area
*/
.testimonial-area {
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.testimonial-area:after {
  content: "";
  clear: both;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.icon {
  font-size: 35px;
  background: #ec4a71;
  display: inline-block;
  line-height: 1;
  padding: 24px;
  border-radius: 50%;
}
.client-thumb img {
  border-radius: 50%;
  padding: 3px;
  border: 2px solid #ddd;
  width: 150px !important;
  display: inline-block !important;
}
.client-content p {
  color: #fff;
  font-size: 20px;
  width: 86%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.client-content h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.client-content h3 a {
  color: #fff;
  font-weight: 700;
}
.client-content h3 a:hover {
  color: #ec4a71;
}
.client-content span {
  color: #fff;
  font-weight: 600;
}
.owl-dot span {
  width: 20px !important;
  height: 3px !important;
  background: #fff !important;
  border-radius: 0px !important;
}
.owl-dot.active span {
  background: #ec4a71 !important;
}
/*
* 14. Blog Area
*/
.blog-single {
  width: 100%;
  overflow: hidden;
}
.blog-thumb {
  width: 100%;
  overflow: hidden;
}
.blog-thumb img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.blog-single:hover img {
  transform: scale(1.1) rotate(3deg);
}
.blog-content {
  margin-top: 20px;
}
.blog-content h2 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}
.blog-single:hover .blog-content h2 a {
  color: #ec4a71;
}
.blog-meta span {
  margin-right: 12px;
}
.blog-meta span:last-child {
  margin: 0px;
}
.sub-blog-single {
  margin-bottom: 15px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.sub-blog-single:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
.sub-blog-thumb {
  width: 30%;
  float: left;
  margin-right: 5%;
  overflow: hidden;
}
.sub-blog-thumb img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sub-blog-single:hover .sub-blog-thumb img {
  transform: scale(1.1) rotate(-3deg);
}
.sub-blog-content {
  overflow: hidden;
}
.sub-blog-content h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.sub-blog-single:hover .sub-blog-content h2 a {
  color: #ec4a71;
}
.sub-blog-author-meta {
  margin-top: 18px;
  display: inline-block;
}
.sub-blog-author-meta span {
  font-size: 14px;
  margin-right: 8px;
}
.sub-blog-author-meta span:last-child {
  margin: 0px;
}
/*
* 15. Contact Area
*/
.contact-form {
  padding: 30px 20px;
  box-shadow: 0px 0px 4px #c8c2c291;
}
.contact-form form .single {
  width: 100%;
  position: relative;
}
.contact-form form .single i {
  position: absolute;
  top: 15px;
  left: 10px;
}
.contact-form form .single input[type="text"],
.contact-form form .single input[type="email"] {
  width: 100%;
  padding: 15px 20px;
  font-weight: 500;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-left: 30px;
  font-size: 14px;
}
.contact-form form .single textarea {
  width: 100%;
  padding: 15px 20px;
  font-weight: 500;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 180px;
  font-size: 14px;
  padding-left: 30px;
}
.contact-form form .single input[type="submit"] {
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 15px 26px;
}
.contact-form form .single input[type="submit"]:hover {
  background: #000;
}
.contact-info {
  padding: 30px 20px;
  box-shadow: 0px 0px 4px #c8c2c291;
}
.contact-info-single {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #d2cece;
  display: inline-block;
  width: 100%;
}
.contact-info-single:last-child {
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: none;
}
.contact-info-single-icon {
  width: 60px;
  height: 60px;
  float: left;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  margin-right: 10px;
}
.contact-info-single-text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3px;
}
.contact-info-single-text span {
  display: block;
}
/*
* 16. Footer Area
*/
.footer-area {
  border-top: 2px solid #ddd;
  background: #fff;
}
.copyright-text a {
  color: #f73434;
}
.footer-social {
  text-align: right;
}
.footer-social ul li {
  display: inline-block;
  margin-right: 12px;
}
.footer-social ul li:last-child {
  margin: 0px;
}
.footer-social ul li a {
  display: inline-block;
}
.footer-social ul li a span {
  color: #000;
  text-transform: capitalize;
  padding-left: 5px;
  margin-top: 5px;
  display: inline-block;
}
.footer-social ul li a i {
  width: 35px;
  height: 35px;
  background: #3b5999;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  border-radius: 50%;
  font-size: 14px;
}
.footer-social ul li a i.fa-twitter {
  background: #55abee;
}
.footer-social ul li a i.fa-linkedin {
  background: #0077b5;
}
.footer-social ul li a i.fa-pinterest-p {
  background: #e50223;
}
